<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>FrontEnd Store</title>
		<!--? Stylesheets  -->
		<link
			rel="stylesheet"
			href="../styles/normalize.css" />
		<link
			rel="stylesheet"
			href="../styles/styles.css" />

		<!--? Fonts -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header class="header">
			<a href="../index.html">
				<img
					class="header__logo"
					src="../assets/img/logo.png"
					alt="Logo de la Empresa" />
			</a>
		</header>

		<nav class="navigation">
			<a
				class="navigation__link"
				href="../index.html"
				>Tienda</a
			>
			<a
				class="navigation__link navigation__link--active"
				href="about-us.html"
				>Nosotros</a
			>
		</nav>

		<main class="container">
			<h1>Nosotros</h1>

			<div class="us">
				<img
					src="../assets/img/nosotros.jpg"
					alt="imagen nosotros"
					class="us__img" />

				<div class="us__text">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
						perferendis porro sunt omnis dignissimos ipsum atque libero ducimus,
						nesciunt laudantium officiis nihil nulla placeat aliquid enim
						dolorem odit nobis qui perspiciatis a eos vel. Porro consectetur non
						ad, nam hic animi, quos tempore a ipsa reprehenderit dignissimos
						neque vero voluptates.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sit,
						repellendus recusandae doloremque perspiciatis voluptatibus quo ex,
						eaque, enim unde corrupti ea iste cum debitis obcaecati laboriosam
						sapiente nostrum inventore aspernatur quaerat. Deserunt alias magni
						maiores rerum ad perspiciatis consequuntur.
					</p>
				</div>
			</div>
		</main>

		<section class="container buy">
			<h2 class="buy__title">¿ Porqué Comprar con Nosotros ?</h2>

			<div class="blocks">
				<div class="block">
					<img
						class="block__img"
						src="../assets/img/icono_1.png"
						alt="Porque Comprar" />

					<h3 class="block__title">El Mejor Precio</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
						odio esse accusantium est.
					</p>
				</div>
				<!--* Fin del bloque -->

				<div class="block">
					<img
						class="block__img"
						src="../assets/img/icono_2.png"
						alt="Porque Comprar" />

					<h3 class="block__title">Para Devs</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
						odio esse accusantium est.
					</p>
				</div>
				<!--* Fin del bloque -->

				<div class="block">
					<img
						class="block__img"
						src="../assets/img/icono_3.png"
						alt="Porque Comprar" />

					<h3 class="block__title">Evío Gratis</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
						odio esse accusantium est.
					</p>
				</div>
				<!--* Fin del bloque -->

				<div class="block">
					<img
						class="block__img"
						src="../assets/img/icono_4.png"
						alt="Porque Comprar" />

					<h3 class="block__title">La Mejor Calidad</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
						odio esse accusantium est.
					</p>
				</div>
				<!--* Fin del bloque -->
			</div>
			<!--* Fin de los bloques -->
		</section>

		<footer class="footer">
			<p class="footer__text">
				ForntEntd Store - Todos los derechos Reservados 2023.
			</p>
		</footer>
	</body>
</html>
